<div class="chat-container">
  <!-- Sidebar -->
  <app-app-header></app-app-header>

  <!-- Chat Section -->
  <div class="chat-section">
    <!-- Header -->
    <header class="chat-header">
      <div class="chat-user">
        <span class="messenger">John Doe</span>
        <span class="status online">Online</span>
      </div>
      
      <div class="chat-actions">
      <img class="call-normal" src="/assets/icons8-phone-48.png">
      <img class="video-call" src="/assets/icons8-video-call-48.png">
      </div>
    </header>

    <!-- Messages -->
    <app-chat-window></app-chat-window>

    <!-- Message Input -->
    <!-- <app-message-window></app-message-window> -->
  </div>
</div>
