<div class="main-div">
    <div class="title">
        <span class="title-txt">Login</span>
    </div>
    <form action="submit">
    <div class="each-div">
   <ngx-intl-tel-input
  [cssClass]="'form-control'"
  [preferredCountries]="['in']"
  [enableAutoCountrySelect]="true"
  [enablePlaceholder]="true"
  [searchCountryFlag]="true"
  [searchCountryField]="[ SearchCountryField.All,
    SearchCountryField.Name,
    SearchCountryField.DialCode]"
  [maxLength]="15"
  >
</ngx-intl-tel-input>
    </div>
    <!-- <div class="each-div">
    <span class="common-txt">Password</span>
    <input class="form-input" type="text" placeholder="Enter your password">
    </div> -->
</form>
</div>
