<!-- <div class="background-main"> -->
<div class="navBar">
    <div class="title">
        <img class='logo' src="logo.png" alt="logo-app">
    </div>

    <div class="menu-list">
        <ul class="list">
            <li class="menu">Features</li>
            <li class="menu">Help Center</li>
            <li class="menu">Blog</li>
            <li class="menu">Privacy</li>
        </ul>
    </div>

    <div class="log-btn">
        <button class="primary-btn" (click)="login()">Login</button>
        <button class="secondary-btn">Get Started Now</button>
    </div>
</div>

<div class="cards">
    <div class="card1">
        <div class="card1-content">
        <span class="card-txt">Start chatting with your friends, anywhere, anytime, with GupChup</span>
        <span class="card1-txt">Great software that allows you to chat from any place at any time without any interruption.</span>
        <button class="card-btn">
            Start Chatting Now 
            <img class="card-icon" src="Icon.png" alt="icon-app">
        </button>

    </div>
    <div class="review">
        <img class="txt-image" src="text.png" alt="text-img">
    </div>
    </div>
    <div class="card2">
        <img class="card-image" src="person.png" alt="card-img">
        <img class="card-image2" src="1.png" alt="chat1-img">
        <img class="card-image3" src="2.png" alt="chat2-img">

    </div>
</div>

<div class="feature-div">
    <span class="ft-txt">Features for a better experience</span>
    <div class="feature-content">
        <div class="ft-card1">
            <img class="video" src="video.png" alt="video-img">
            <div class="ft-content">
                <span class="ft-title">Video messaging</span>
                <span class="content-txt">This software is very easy for you to manage. You can use it as you wish.</span>
            </div>
        </div>
         <div class="ft-card1">
            <img class="video" src="time.png" alt="video-img">
            <div class="ft-content">
                <span class="ft-title">Save your time</span>
                <span class="content-txt">This software is very easy for you to manage. You can use it as you wish.</span>
            </div>
        </div>
         <div class="ft-card1">
            <img class="video" src="wifi.png" alt="video-img">
            <div class="ft-content">
                <span class="ft-title">Keep safe & private</span>
                <span class="content-txt">This software is very easy for you to manage. You can use it as you wish.</span>
            </div>
        </div>
    </div>
</div>

<div class="video-card">
    <div class="video-image">
        <img src="video-card.png" alt="video-call">
    </div>
    <div class="video-content">
        <span class="video-txt">Meet your friends, clients with live video chat</span>
    </div>
</div>

<div class="promo-card">
<div class="promo-content">
    <span class="promo-title">Start messaging directly to your friends, clients just by installing GupChup</span>
    <span class="promo-txt">There are many variations of passages available, but the majority have suffered all injected humour or randomised words which don't look slightly believable.</span>
    <button class="card-btn">Star Chatting Now</button>
</div>
<div class="promo-images">
    <img src="Card.png" alt="promo-img">
    <img class="promoImg1" src="Card1.png" alt="promo-img1">
    <img class="promoImg2" src="Card2.png" alt="promo-img2">
</div>
</div>

<div class="review-card">
    <img class="shape" src="Shapes.png" alt="shape">
    <div class="review-title">Our blessed client said about us 😍</div>
    <img class="box" src="box.png" alt="review-image">
</div>

<div class="footer">
    <div class="footer-content">
    <div class="footer-title">Ready to make new friends?</div>
     <div class="footer-title">Start with GupChup, become</div>
    <div class="footer-title"> faster every second</div>
    </div>
    <button class="card-btn">Start Chatting Now</button>
</div>

<div class="footer-bar">
    <div class="title">
        <img class="footer-logo" src="logo.png" alt="logo-app">
    </div>

    <div class="menu-list">
        <ul class="list">
            <li class="menu">Features</li>
            <li class="menu">Help Center</li>
            <li class="menu">Blog</li>
            <li class="menu">Privacy</li>
        </ul>
    </div>

    <div class="social-icons">
       <img style="width: 14px; height: 14px;" src="twitter.png" alt="twitter">
       <img style="width: 12px; height: 14px;" src="fb.png" alt="facebook">
       <img  style="width: 14px; height: 14px;" src="instagram.png" alt="instagram">
       <img style="width: 14px; height: 14px;" src="git.png" alt="github">
    </div>
</div>
<div class="line"></div>
<div class="copyright">
    <span class="last-txt">© Copyright 2025, All Rights Reserved</span>
    <div class="privacy">
    <span class="last-txt">Privacy</span>
    <span class="last-txt">Terms & Condition</span>
    </div>
</div>


